In [13]:
import pandas as pd
import numpy as np

In [14]:
df=pd.read_csv('seat_capacity_current.csv')
df

,Institute Name,Program Name,State/All India Seats,Seat Pool,OPEN,OPEN-PwD,GEN-EWS,GEN-EWS-PwD,SC,SC-PwD,ST,ST-PwD,OBC-NCL,OBC-NCL-PwD,Total (includes Female Supernumerary),Program-Total Seat Capacity Female Supernumerary
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",All India,Gender-Neutral,22,1,5,0,9,1,3,0,14,1,56,68 0
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",All India,Female-only (including Supernumerary),5,0,1,0,1,0,1,0,4,0,"12 (including ""0"" Supernumerary)",68 0
2,Indian Institute of Technology Bhubaneswar,"Computer Science and Engineering (4 Years, Bac...",All India,Gender-Neutral,22,1,4,0,8,0,4,0,14,1,54,68 0
3,Indian Institute of Technology Bhubaneswar,"Computer Science and Engineering (4 Years, Bac...",All India,Female-only (including Supernumerary),5,1,1,0,2,0,1,0,4,0,"14 (including ""0"" Supernumerary)",68 0
4,Indian Institute of Technology Bhubaneswar,"Electrical Engineering (4 Years, Bachelor of T...",All India,Gender-Neutral,22,1,6,0,8,1,3,0,14,0,55,68 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,Indian Institute of Technology Dharwad,"Civil and Infrastructure Engineering (4 Years,...",All India,Gender-Neutral,5,0,1,0,2,0,1,0,3,0,12,15 0
599,Indian Institute of Technology Dharwad,"Civil and Infrastructure Engineering (4 Years,...",All India,Female-only (including Supernumerary),1,0,0,0,1,0,0,0,1,0,"3 (including ""0"" Supernumerary)",15 0
600,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",All India,Gender-Neutral,19,0,4,1,7,1,4,0,11,1,48,57 3
601,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",All India,Female-only (including Supernumerary),5,0,1,0,2,0,1,0,3,0,"12 (including ""3"" Supernumerary)",57 3
602,NaN,NaN,NaN,Total Seats,6689,350,1659,79,2472,136,1252,58,4456,234,17385,15932 1453

In [15]:
df[["Seat Capacity", "Female Supernumerary"]] = df["Program-Total  Seat Capacity  Female Supernumerary"].str.split(' ', 1, expand=True)
df=df.drop("Program-Total  Seat Capacity  Female Supernumerary",axis=1)

/var/folders/pt/wd7fcn1n3dsbklwbgjh_76_00000gn/T/ipykernel_55072/254410095.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[["Seat Capacity", "Female Supernumerary"]] = df["Program-Total  Seat Capacity  Female Supernumerary"].str.split(' ', 1, expand=True)

In [16]:
df

,Institute Name,Program Name,State/All India Seats,Seat Pool,OPEN,OPEN-PwD,GEN-EWS,GEN-EWS-PwD,SC,SC-PwD,ST,ST-PwD,OBC-NCL,OBC-NCL-PwD,Total (includes Female Supernumerary),Seat Capacity,Female Supernumerary
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",All India,Gender-Neutral,22,1,5,0,9,1,3,0,14,1,56,68,0
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",All India,Female-only (including Supernumerary),5,0,1,0,1,0,1,0,4,0,"12 (including ""0"" Supernumerary)",68,0
2,Indian Institute of Technology Bhubaneswar,"Computer Science and Engineering (4 Years, Bac...",All India,Gender-Neutral,22,1,4,0,8,0,4,0,14,1,54,68,0
3,Indian Institute of Technology Bhubaneswar,"Computer Science and Engineering (4 Years, Bac...",All India,Female-only (including Supernumerary),5,1,1,0,2,0,1,0,4,0,"14 (including ""0"" Supernumerary)",68,0
4,Indian Institute of Technology Bhubaneswar,"Electrical Engineering (4 Years, Bachelor of T...",All India,Gender-Neutral,22,1,6,0,8,1,3,0,14,0,55,68,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,Indian Institute of Technology Dharwad,"Civil and Infrastructure Engineering (4 Years,...",All India,Gender-Neutral,5,0,1,0,2,0,1,0,3,0,12,15,0
599,Indian Institute of Technology Dharwad,"Civil and Infrastructure Engineering (4 Years,...",All India,Female-only (including Supernumerary),1,0,0,0,1,0,0,0,1,0,"3 (including ""0"" Supernumerary)",15,0
600,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",All India,Gender-Neutral,19,0,4,1,7,1,4,0,11,1,48,57,3
601,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",All India,Female-only (including Supernumerary),5,0,1,0,2,0,1,0,3,0,"12 (including ""3"" Supernumerary)",57,3
602,NaN,NaN,NaN,Total Seats,6689,350,1659,79,2472,136,1252,58,4456,234,17385,15932,1453

In [17]:
df.loc[df.index % 2 != 0, "Total (includes Female Supernumerary)"] = df.loc[df.index % 2 != 0, "Total (includes Female Supernumerary)"].str[:-30]
df

,Institute Name,Program Name,State/All India Seats,Seat Pool,OPEN,OPEN-PwD,GEN-EWS,GEN-EWS-PwD,SC,SC-PwD,ST,ST-PwD,OBC-NCL,OBC-NCL-PwD,Total (includes Female Supernumerary),Seat Capacity,Female Supernumerary
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",All India,Gender-Neutral,22,1,5,0,9,1,3,0,14,1,56,68,0
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",All India,Female-only (including Supernumerary),5,0,1,0,1,0,1,0,4,0,12,68,0
2,Indian Institute of Technology Bhubaneswar,"Computer Science and Engineering (4 Years, Bac...",All India,Gender-Neutral,22,1,4,0,8,0,4,0,14,1,54,68,0
3,Indian Institute of Technology Bhubaneswar,"Computer Science and Engineering (4 Years, Bac...",All India,Female-only (including Supernumerary),5,1,1,0,2,0,1,0,4,0,14,68,0
4,Indian Institute of Technology Bhubaneswar,"Electrical Engineering (4 Years, Bachelor of T...",All India,Gender-Neutral,22,1,6,0,8,1,3,0,14,0,55,68,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,Indian Institute of Technology Dharwad,"Civil and Infrastructure Engineering (4 Years,...",All India,Gender-Neutral,5,0,1,0,2,0,1,0,3,0,12,15,0
599,Indian Institute of Technology Dharwad,"Civil and Infrastructure Engineering (4 Years,...",All India,Female-only (including Supernumerary),1,0,0,0,1,0,0,0,1,0,3,15,0
600,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",All India,Gender-Neutral,19,0,4,1,7,1,4,0,11,1,48,57,3
601,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",All India,Female-only (including Supernumerary),5,0,1,0,2,0,1,0,3,0,12,57,3
602,NaN,NaN,NaN,Total Seats,6689,350,1659,79,2472,136,1252,58,4456,234,17385,15932,1453

In [18]:
df=df.drop(602)
df

,Institute Name,Program Name,State/All India Seats,Seat Pool,OPEN,OPEN-PwD,GEN-EWS,GEN-EWS-PwD,SC,SC-PwD,ST,ST-PwD,OBC-NCL,OBC-NCL-PwD,Total (includes Female Supernumerary),Seat Capacity,Female Supernumerary
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",All India,Gender-Neutral,22,1,5,0,9,1,3,0,14,1,56,68,0
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",All India,Female-only (including Supernumerary),5,0,1,0,1,0,1,0,4,0,12,68,0
2,Indian Institute of Technology Bhubaneswar,"Computer Science and Engineering (4 Years, Bac...",All India,Gender-Neutral,22,1,4,0,8,0,4,0,14,1,54,68,0
3,Indian Institute of Technology Bhubaneswar,"Computer Science and Engineering (4 Years, Bac...",All India,Female-only (including Supernumerary),5,1,1,0,2,0,1,0,4,0,14,68,0
4,Indian Institute of Technology Bhubaneswar,"Electrical Engineering (4 Years, Bachelor of T...",All India,Gender-Neutral,22,1,6,0,8,1,3,0,14,0,55,68,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",All India,Female-only (including Supernumerary),4,0,1,0,1,0,1,0,3,0,10,47,3
598,Indian Institute of Technology Dharwad,"Civil and Infrastructure Engineering (4 Years,...",All India,Gender-Neutral,5,0,1,0,2,0,1,0,3,0,12,15,0
599,Indian Institute of Technology Dharwad,"Civil and Infrastructure Engineering (4 Years,...",All India,Female-only (including Supernumerary),1,0,0,0,1,0,0,0,1,0,3,15,0
600,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",All India,Gender-Neutral,19,0,4,1,7,1,4,0,11,1,48,57,3
601,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",All India,Female-only (including Supernumerary),5,0,1,0,2,0,1,0,3,0,12,57,3

In [19]:
df.to_csv("seatCapacity_clean.csv",index=False)